<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
          background-image: url("{{url_for('static', filename = 'pexels-snapwire-6966.jpg')}}");
        background-repeat: no-repeat;
          background-attachment: fixed;  
          background-size: cover;
        }
    </style>
  </head>
<body>


    

    <form method="get" action="{{ url_for('results') }}">
      <label for="searchterm">Search For A Song:</label>
      <input type="text" name="searchterm" /><br />

    </form> 

  

</body>
</html>