<head>
  <link rel="stylesheet" href="/Users/kellyst.onge/Desktop/songsearcherCS454/static/styles/mystyle.css">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mystyle.css') }}">




</head>

<body style="size:1040px;height:960px; background-image:url("{{url_for('static', filename = 'pexels-snapwire-6966.jpg')}}") no-repeat; background-size: cover">

<div class="center">
<form method="get" action="{{ url_for('results') }}">
  <label for="search">Search for stuff</label>
  <input type="text" placeholder="Search.." name="searchterm" /><br />
  <button type="submit">Go</button>    
</form>

</div>


